
.flip-container {
  width: 36rem;
  height: 23rem;
  perspective: 1000px;
}

.flip-container.ativo .flipper{
	transform: rotateY(180deg);
}

.flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  position: relative;
}

/* CC */
.cc-back {
  transform: rotateY(180deg);
  align-items: flex-end;
  justify-content: flex-end !important;
  padding: 3rem 10rem !important;
}
.cc, .cc-back {
  background: no-repeat center/cover;
  background-image: url("/cc-bg.svg");
  width: 36rem;
  height: 23rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  backface-visibility: hidden;
}

.cc-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cc-info {
  display: grid;
  gap: 1.4rem;
}

.cc-number {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  letter-spacing: 0.04em;

  color: #e8e8e8;
  text-shadow: 0 0.12rem 0.32rem rgb(23 23 23 / 40%);
}

.cc-holder,
.cc-expiration {
  display: grid;
  gap: 0.4rem;
}

.cc-security {
  display: grid;
  gap: 0.4rem;
  justify-content: space-around;
}

.cc-security .value{
  background: rgba(255, 255, 255, .2);
  padding: .3rem;
  border-radius: 4px;
}

.cc .label {
  font-size: 1rem;
  line-height: 1.2rem;
}

.cc .value {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0.25rem 0.25rem rgb(22 22 22 / 16%);
  text-transform: uppercase;
}

.cc-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .cc,
.cc-back, */
.cc-logo,
.cc-number {
  position: relative;
}

.cc-bg, .cc-bg-back{
  position: absolute;
  inset: 0;
  z-index: 0;
}
